<!DOCTYPE html>
<html>
    <header>
        <img src="/img/logo.png" width="500" height="150" alt="FC Analise Logo">
    </header>
    <body>
        <!-- the body of pages which use this template are be here -->
        {{{body}}}
    </body>
</html>