<body>
    <div class="login-form">
        <form>
            <h1>Bem-vindo(a) à FC ANALISE!</h1>
            <div class="content">
                <div class="input-field">
                    <input type="email" placeholder="E-mail">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Senha">
                </div>
                <a href="#" class="link">Esqueceu sua senha?</a>
            </div>
            <div class="action">
                <button>Criar conta</button>
                <button>Entrar</button>
            </div>
        </form>
    </div>
</body>
